<template>
	<div class="container">
		<vue-snotify></vue-snotify>
		<div class="row">
			<div class="col-sm">
				<form>
				  <div class="form-group">
				    <label for="postcode">Postcode</label>
					<select class="custom-select" v-model="selected_postcode">
					  <option selected disabled value="">Open this select menu</option>
					  <option v-for="(postcode, index) in select_postcodes" :value="index">{{ postcode.postcode }} - {{ postcode.suburb }}</option>
					</select>
					<small id="postcodeHelp" class="form-text text-muted" v-if="isErrorSelect"><font colow="red">{{ errorMessage }}</font></small>
				  </div>
				  <div class="form-group">
				    <label for="radius">Radius</label>
				    <input type="number" class="form-control" id="radius" v-model="radius" placeholder="Type a radius in km">
				    <small id="postcodeHelp" class="form-text text-muted" v-if="isErrorNumber"><font colow="red">{{ errorMessage }}</font></small>
				  </div>
				  <a @click="postPostCode" class="btn btn-primary" v-if="isValidate">Submit</a>
				  <a class="btn btn-primary disabled" v-else disabled="disbaled">Submit</a>
				</form>
			</div>
			<div class="col-sm">
				<h4>Postcode List</h4>
				<p v-if="loading">Loading....</p>	
				<table class="table table-hover" v-else>
				  <thead>
				    <tr>
				      <th scope="col">ID</th>
				      <th scope="col">Postcode</th>
				      <th scope="col">Suburb</th>
				      <th scope="col">State</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr v-for="(postcode, index) in postcodes">
				      <th scope="row">{{ index }}</th>
				      <td>{{ postcode.postcode }}</td>
				      <td>{{ postcode.suburb }}</td>
				      <td>{{ postcode.state }}</td>
				    </tr>
				  </tbody>
				</table>	
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import VueResource from 'vue-resource'
import VuePaginator from 'vuejs-paginator'
import Snotify, { SnotifyPosition } from 'vue-snotify'

const options = {
  toast: {
    position: SnotifyPosition.rightTop
  }
}

Vue.use(VueResource)
Vue.use(Snotify, options)

export default {
	data() {
		return {
			select_postcodes: [],
		  	postcodes: [],
		  	radius: "",
		  	selected_postcode: "",
		  	pagination_by_request: false,
		  	isErrorSelect: false,
		  	isErrorNumber: false,
		  	isValidate: false,
		  	loading: false,
		  	errorMessage: ""
		}
	},
	mounted() {
		this.getSelectPostCode();
		// this.getPostcode();
	},
	components: {
		VPaginator: VuePaginator
	},
    watch: {
        selected_postcode: function () {
            if(this.selected_postcode == ""){
            	this.isErrorSelect = true;
            	this.errorMessage = "Please, choose a postcode";
            }
            else{
            	this.isErrorSelect = false;
            	this.errorMessage = "";
            }
        },
        radius: function() {
        	if(this.radius < 5){
            	this.isErrorNumber = true;
            	this.errorMessage = "Please, minimum radius must be 5 km";
        	}
        	else{
        		this.isErrorNumber = false;
        		this.errorMessage = "";
        	}
        },
        isErrorNumber: function() {
        	if(!this.isErrorNumber && !this.isErrorSelect){
        		this.isValidate = true;
        	}
        	else{
        		this.isValidate = false;
        	}
        },
        isErrorSelect: function() {
        	if(!this.isErrorNumber && !this.isErrorSelect){
        		this.isValidate = true;
        	}
        	else{
        		this.isValidate = false;
        	}
        }        
    },
  	methods:{
  		getSelectPostCode() {
		    axios.get('/fetch-select-postcodes')
		    .then(response => {
		      	this.select_postcodes = response.data;
		    })
		    .catch(e => {
		    })
  		},
		postPostCode() {
			this.loading = true;
			this.isValidate = false;
			let lat = this.select_postcodes[this.selected_postcode]['latitude'];
			let lng = this.select_postcodes[this.selected_postcode]['longitude'];
			let data = {
				radius: this.radius,
				lat: lat,
				lng: lng
			};
		    axios.post('/nearby', data)
		    .then(response => {
		    	this.loading = false;
		    	this.isValidate = true;
		    	this.$snotify.success('Successfully to get postcodes');
		    	this.pagination_by_request = true;
		      	this.postcodes = response.data;
		    })
		    .catch(e => {
		    	this.loading = false;
		    	this.isValidate = true;
		    	this.$snotify.error('Failed to get postcodes');
		    })			
		},
	    updateResource(data){
	      this.postcodes = data;
	    }
  	}
}
</script>